
appdirs==*
black==*
click==*
dnspython==*
email-validator==*
fastapi==*
flake8==*
h11==*
idna==*
mccabe==*
motor==*
mypy-extensions==*
pathspec==*
pycodestyle==*
pydantic==*
pyflakes==*
pymongo==*
regex==*
starlette==0*
toml==*
typed-ast==*
typing-extensions==3.*
uvicorn==*anyio==3.6.1
black==22.8.0
click==8.1.3
dnspython==2.2.1
fastapi==0.81.0
h11==0.13.0
idna==3.3
motor==3.0.0
mypy-extensions==0.4.3
pathspec==0.10.0
platformdirs==2.5.2
pydantic==1.10.1
pymongo==4.2.0
regex==2022.8.17
sniffio==1.3.0
starlette==0.19.1
toml==0.10.2
tomli==2.0.1
typing_extensions==4.3.0
uvicorn==0.18.3
